@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 1;
  font-family: "lato", sans-serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(99, 8, 8, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

h1 {
  display: grid;
  place-items: center;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0004); */
  animation: animate 5s linear infinite;
  /* background: -webkit-linear-gradient(#eee, #940822);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    */
}

@keyframes animate {
  0% {
    color: rgb(185, 64, 70);
    text-shadow: none;
  }
  100% {
    color: #fff;
    text-shadow: 0 0 10px #f46303, 0 0 20px #fd0303, 0 0 40px #e11903,
      0 0 60px #d60303, 0 0 80px #ae0202, 0 0 160px #7b0101;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background: rgb(255, 215, 218);

  border: 0;
  color: rgb(46, 4, 8);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}
.action-btn-big {
  color: rgb(17, 1, 7);
  font-size: 30px;
}

.music-container {
  background: rgb(255, 215, 218);
  height: 120px;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(249, 255, 251, 0.9);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}
.music-info {
  background-color: rgba(2, 2, 54, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  width: calc(100% -40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.music-info h4 {
  display: grid;
  place-items: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  animation: inner-text 5s linear infinite;
  margin: 0;
}
.music-info h3 {
  display: grid;
  place-items: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  /* animation: inner-text 5s linear infinite; */
  margin-top: 0.5rem;
}
@keyframes inner-text {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1% {
    color: rgb(255, 175, 179);
    text-shadow: none;
  }
  10%,
  18.1%,
  20%,
  30%,
  50%,
  60.1%,
  65%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #6ff403, 0 0 20px #a2f203, 0 0 40px #a2e103,
      0 0 60px #2ad603, 0 0 80px #55ae02, 0 0 160px #2a7b01;
  }
}
.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}
.img-container {
  position: relative;
  width: 110px;
}
.img-container::after {
  content: "";
  background-color: white;
  height: 10px;
  width: 10px;
  position: absolute;
  left: 50%;
  bottom: 80%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.img-container img {
  width: inherit;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;

  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}
.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.progress-container {
  background-color: rgb(243, 188, 188);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}
.progress {
  background-color: rgb(49, 48, 46);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.volume {
  display: flex;
  align-items: center;
  position: absolute;
  top: 6rem;
  left: 10rem;
}


#current-time {
  color: #ffffff;
}
#duration-time {
  color: #fff;
  float: right;
}
#show-volume {
  font-size: 16px;
  margin-left: 0.5rem;
  color: #200202;
  /* font-weight: bold; */
  opacity: 0.5;
}



@media (width < 500px) {
  body {
    display: block;
  }
  h1 {
    font-size: 40px;
  }
  .music-container {
    top: 35rem;
    left: 4rem;
    height: 120px;
    /* margin: 50px 0; */
    box-shadow: 0 5px 20px 0 rgba(249, 255, 251, 0.9);

    display: block;
    position: absolute;
    width: 80%;
    padding: 10px;
    margin-bottom: 1rem;
  }
  .music-info {
    left: 1.7rem;
    padding: 1rem;
    width: 85%;
  }
  .img-container {
    top: -27em;
    left: 3rem;
    /* border: 3px solid #2a7b01; */
    padding: 5rem;
    width: 250px;
    height: 250px;
  }
  .img-container img {
    height: 220px;
    width: 220px;
    border-radius: 50%;
  }
  .img-container::after {
    display: none;
  }
  .navigation {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 2rem;
    left: 2rem;
    /* gap: 2.5rem; */
  }
  .volume {
    left: 4rem;
    top: 6rem;
  }
}
@media (width < 450px) {
  .img-container {
    left: 2rem;
  }
  .music-container {
    top: 30rem;
    left: 4rem;
    width: 70%;
  }
  .music-info {
    left: 1.5rem;
  }
  .music-info h4 {
    font-size: 14px;
  }
}

@media (width < 400px) {
  h1 {
    font-size: 35px;
  }
  .music-container {
    top: 25rem;
    width: 80%;
    left: 2.5rem;
    height: 100px;
  }
  .music-info {
    left: 1.5rem;
  }
  .music-info h4 {
    font-size: 12px;
  }
  .img-container {
    left: 3.5rem;
  }
  .img-container img {
    width: 170px;
    height: 170px;
  }
  .navigation {
    top: 1rem;
  }
  .volume{
    top: 5rem;
  }
}
